
<div class="question" id="<%= @question.id %>">
	<div class="vote">
		<a href="/questions/<%= @question.id %>/votes/new/upvote" class="arrow-up"></a>
		<span><%= score(@question) %></span>
		<a href="/questions/<%= @question.id %>/votes/new/downvote" class="arrow-down"></a>
	</div>
	<div class="questionDetails">
		<h2><%= @question.title %></h2>
		<p><%= @question.body %></p>
	</div>
</div>
	<div class = "questionComments">
		<h4>Question Comments</h4>
			<% @question.comments.each do |comment| %>
				<%= erb :"partials/_comment_show", locals: {
					comment: comment, comment_form_name: "comment"} %>
			<% end %>
		</div>

<h3 class="answers-count"><%= @answers.count %> answers</h3>

<% if current_user %>
	<%= erb :"partials/_answer_new" %>
<% end %>

<hr>

<% @answers.each do |answer| %>

	<%= erb :'partials/_answer_show', locals: {answer: answer} %>

<% end %>

<% if current_user %>
	<%= erb :"partials/_comment_new", locals: {commented_on_type: 'questions', commented_on: @question.id, comment_form_name: "questionCommentForm"} %>
<% end %>
